{include file="../app/view/user/header.html" title="Azure 资源组" /}

<div class="mdui-container-fluid az-main az-cloud-page az-provider-azure">
    <div class="mdui-row">
        <div
            class="mdui-col-xs-12 mdui-col-md-{:think\\facade\\Env::get('theme.CARD_WIDTH')} mdui-col-offset-md-{:think\\facade\\Env::get('theme.CARD_RIGHT_OFFSET')}">
            <div class="mdui-container-fluid">
                <p class="az-page-kicker">Microsoft Azure</p>
                <p style="color: #3F51B5; font-size: 34px">资源组内容</p>
            </div>

            <div class="mdui-typo">
                <p>你可以在这里查看此资源组下所有资源</p>
            </div>

            <section class="az-data-card"><div class="az-data-head"><div><h2 class="az-data-title">组内资源</h2></div></div><div class="mdui-table-fluid-fixed">
                <table class="mdui-table" style="border: none;">
                    <thead>
                        <tr>
                            <th>标识</th>
                            <th>类型</th>
                            <th>名称</th>
                            <th>等级</th>
                            <th>地域</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $groups['value'] as $group}
                        <tr>
                            <td>{$group.name}</td>
                            <td>{$group.type}</td>
                            <td>{$group.sku.name ?? 'null'}</td>
                            <td>{$group.sku.tier ?? 'null'}</td>
                            <td>{$group.location}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div></section>

            <div class="mdui-m-t-2"></div>

        </div>
    </div>
</div>
</body>

<script>
    $("td:contains('null')").css("font-style", "italic");
</script>

{include file="../app/view/user/footer.html" /}

</html>
