{include file="../app/view/user/header.html" title="Azure 资源组列表" /}

<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div
            class="mdui-col-xs-12 mdui-col-md-{:think\\facade\\Env::get('theme.CARD_WIDTH')} mdui-col-offset-md-{:think\\facade\\Env::get('theme.CARD_RIGHT_OFFSET')}">
            <div class="mdui-container-fluid">
                <p style="color: #3F51B5; font-size: 34px">Azure 资源组列表</p>
            </div>

            <div class="mdui-typo">
                <p>你可以在这里查看此账户下的所有资源组</p>
            </div>

            {if $error != ''}
            <div class="mdui-m-t-2" style="padding:12px 16px;background:#fdecea;color:#b71c1c;border-radius:4px">
                {$error}
            </div>
            {/if}

            <div class="mdui-table-fluid mdui-m-t-2">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>名称</th>
                            <th>地域</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $resources['value'] as $resource}
                        <tr>
                            <td>
                                <a href="/user/azure/resources/{:input('id')}/{$resource.name}"
                                    class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-ripple mdui-color-blue-grey">浏览组</a>
                                <a onclick="destroy(this)" data-url="{$resource.id}"
                                    class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-ripple mdui-color-pink-400">删除组</a>
                            </td>
                            <td>{$resource.name}</td>
                            <td>{$resource.location}</td>
                            <td>{$resource.properties.provisioningState}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>

            <p style="color: #3F51B5; font-size: 18px">虚拟机列表</p>

            <div class="mdui-m-t-2">
                代理来源：<select id="proxy_mode" data-current="{$bound_proxy_id}" style="height:36px;min-width:320px;border:0;border-bottom:1px solid rgba(0,0,0,.42);background:transparent;outline:none">
                    <option value="none">不使用代理</option>
                    <option value="default">使用默认代理池</option>
                    {volist name="proxies" id="proxy"}
                    <option value="pool:{$proxy.id}">{$proxy.name} - [{:strtoupper($proxy.protocol)}{if $proxy.source_type == 'api'} API{/if}] {if $proxy.source_type == 'api'}API{else /}{$proxy.address}:{$proxy.port}{/if}{if $proxy.is_default == 1}（默认）{/if}</option>
                    {/volist}
                </select>
            </div>

            <div class="mdui-table-fluid mdui-m-t-2">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>#</th>
                            <th>名称</th>
                            <th>地域</th>
                            <th>地址</th>
                            <th>规格</th>
                            <th>系统 Offer</th>
                            <th>系统 Sku</th>
                            <th>资源组</th>
                            <th>硬盘大小</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="virtual_machines" id="virtual_machine"}
                        <tr>
                            <td>
                                {if $virtual_machine.panel_server_id > 0}
                                <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-ripple mdui-color-blue-grey"
                                    mdui-menu="{target: '#vm-action-{$virtual_machine.properties.vmId}', fixed: true}">操作</button>
                                <ul class="mdui-menu" id="vm-action-{$virtual_machine.properties.vmId}">
                                    <li class="mdui-menu-item">
                                        <a class="mdui-ripple" href="/user/server/azure/{$virtual_machine.panel_server_id}" target="view_window">
                                            <i class="mdui-menu-item-icon mdui-icon material-icons">memory</i>虚拟机详情
                                        </a>
                                    </li>
                                    <li class="mdui-menu-item">
                                        <a class="mdui-ripple" onclick="changeIpv4(this)" data-id="{$virtual_machine.properties.vmId}">
                                            <i class="mdui-menu-item-icon mdui-icon material-icons">repeat_one</i>更换 IPv4
                                        </a>
                                    </li>
                                    <li class="mdui-menu-item">
                                        <a class="mdui-ripple" onclick="addIpv4(this)" data-id="{$virtual_machine.properties.vmId}">
                                            <i class="mdui-menu-item-icon mdui-icon material-icons">add_circle</i>增加 IPv4
                                        </a>
                                    </li>
                                </ul>
                                {else}
                                <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-ripple mdui-color-blue-grey"
                                    onclick="updateAccount(this)" data-id="{:input('id')}">加载到列表</button>
                                {/if}
                            </td>
                            <td>{++$count}</td>
                            <td>{$virtual_machine['name']}</td>
                            <td>{$virtual_machine['location']}</td>
                            <td>{$virtual_machine.panel_ip_address}</td>
                            <td>{$virtual_machine['properties']['hardwareProfile']['vmSize']}</td>
                            <td>{$virtual_machine['properties']['storageProfile']['imageReference']['offer']}</td>
                            <td>{$virtual_machine['properties']['storageProfile']['imageReference']['sku']}</td>
                            <td>{:explode('/', $virtual_machine['id'])['4']}</td>
                            <td>{$virtual_machine['properties']['storageProfile']['osDisk']['diskSizeGB'] ?? 'null'}
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>

            <div class="mdui-m-t-2"></div>

        </div>
    </div>
</div>
</body>

<script>
    var uuid = '';

    // 回显账户绑定的代理（0=不使用代理，-1=跟随默认代理，正数=具体代理）
    (function () {
        var el = document.getElementById('proxy_mode');
        if (!el) return;
        var cur = el.getAttribute('data-current');
        var mode = 'none';
        if (cur === '-1') {
            mode = 'default';
        } else if (cur && parseInt(cur, 10) > 0) {
            mode = 'pool:' + cur;
        }
        el.value = mode;
    })();

    function guid() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    function getProgress() {
        $.ajax({
            method: 'GET',
            url: "/user/progress/" + uuid,
            dataType: "json",
            success: function (data) {
                var width = data.schedule + '%';
                $('.mdui-progress-determinate').css('width', width);
                $('#hint').replaceWith("<p id=\"hint\">" + data.current + "</p>");
            }
        });
    }

    function proxyRequestData(extra) {
        var mode = $('#proxy_mode').val() || 'none';
        var data = extra || {};
        data.proxy_mode = mode;
        data.proxy_id = mode.indexOf('pool:') === 0 ? mode.replace('pool:', '') : 0;
        return data;
    }

    function updateAccount(that) {
        let id = $(that).data('id');
        mdui.confirm('此虚拟机还没有加载到本地虚拟机列表，是否立即更新此账户资源？', '更新确认',
            function () {
                var load = new mdui.alert('<div class=\"mdui-progress\"><div class=\"mdui-progress-indeterminate\"></div></div>', '进行中');
                $.ajax({
                    method: 'POST',
                    url: "/user/azure/update/" + id,
                    dataType: "json",
                    success: function (data) {
                        load.close();
                        mdui.alert(data.content, data.title);
                        if (data.status == '1') {
                            setTimeout("window.location = window.location.pathname", 1500);
                        }
                    }
                });
            },
            function () { },
            {
                confirmText: "确定",
                cancelText: "取消"
            }
        );
    }

    function changeIpv4(that) {
        let id = $(that).data('id');
        mdui.confirm('将创建新的公网 IPv4 并替换当前主 IPv4，旧公网 IPv4 会在解绑后删除。', '更换确认',
            function () {
                var load = new mdui.alert('<p id=\"hint\">准备中</p><div class=\"mdui-progress\"><div class=\"mdui-progress-determinate\"></div></div>', '进行中');
                var cycle = setInterval(getProgress, 1000);
                uuid = guid();

                $.ajax({
                    method: 'POST',
                    url: "/user/server/azure/change/" + id,
                    data: proxyRequestData({
                        task_uuid: uuid,
                    }),
                    dataType: "json",
                    success: function (data) {
                        load.close();
                        clearInterval(cycle);
                        mdui.alert(data.content, data.title);
                        if (data.status == '1') {
                            setTimeout("window.location = window.location.pathname", 1500);
                        }
                    },
                    error: function () {
                        clearInterval(cycle);
                    }
                });
            },
            function () { },
            {
                confirmText: "确定",
                cancelText: "取消",
            }
        );
    }

    function addIpv4(that) {
        let id = $(that).data('id');
        mdui.confirm('将为虚拟机增加一个额外的公网 IPv4 地址', '增加确认',
            function () {
                var load = new mdui.alert('<p id=\"hint\">准备中</p><div class=\"mdui-progress\"><div class=\"mdui-progress-determinate\"></div></div>', '进行中');
                var cycle = setInterval(getProgress, 1000);
                uuid = guid();

                $.ajax({
                    method: 'POST',
                    url: "/user/server/azure/addipv4/" + id,
                    data: proxyRequestData({
                        task_uuid: uuid,
                    }),
                    dataType: "json",
                    success: function (data) {
                        load.close();
                        clearInterval(cycle);
                        mdui.alert(data.content, data.title);
                        if (data.status == '1') {
                            setTimeout("window.location = window.location.pathname", 1500);
                        }
                    },
                    error: function () {
                        clearInterval(cycle);
                    }
                });
            },
            function () { },
            {
                confirmText: "确定",
                cancelText: "取消",
            }
        );
    }

    function destroy(that) {
        let url = $(that).data('url');
        mdui.prompt('输入 yes 删除此资源组中的所有资源', '删除确认',
            function (value) {
                if (value == 'yes') {
                    var load = new mdui.alert('<div class=\"mdui-progress\"><div class=\"mdui-progress-indeterminate\"></div></div>', '进行中');
                    $.ajax({
                        method: 'DELETE',
                        url: "/user/azure/resources",
                        data: {
                            url: url
                        },
                        dataType: "json",
                        success: function (data) {
                            load.close();
                            if (data.status == '0') {
                                mdui.alert(data.content, data.title);
                            } else {
                                mdui.alert(data.content, data.title);
                                setTimeout("window.location = window.location.pathname", 1500);
                            }
                        }
                    });
                } else {
                    mdui.alert('为避免误操作，请按提示在文本框中输入 yes', '删除失败');
                }
            },
            function () { },
            {
                confirmText: "确定",
                cancelText: "取消"
            }
        );
    };
</script>

{include file="../app/view/user/footer.html" /}

</html>
