{include file="../app/view/admin/header.html" title="管理中心" /}

<main class="az-main">
    <div class="az-page-head">
        <div>
            <h1 class="az-page-title">管理中心</h1>
            <p class="az-page-subtitle">查看系统环境、站点设置和运营日志。</p>
        </div>
    </div>

    <div class="mdui-table-fluid-fixed az-section">
        <table class="mdui-table">
            <thead>
                <tr>
                    <th>项</th>
                    <th>值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>系统类型</td>
                    <td>{$info.server_os}</td>
                </tr>
                <tr>
                    <td>IPv4地址</td>
                    <td>{$info.server_ip}</td>
                </tr>
                <tr>
                    <td>PHP版本</td>
                    <td>{$info.php_version}</td>
                </tr>
                <tr>
                    <td>内存限制</td>
                    <td>{$info.memory_limit}</td>
                </tr>
                <tr>
                    <td>框架版本</td>
                    <td>{$info.think_version}</td>
                </tr>
                <tr>
                    <td>运行模式</td>
                    <td>{$info.php_sapi_name}</td>
                </tr>
                <tr>
                    <td>SQL版本</td>
                    <td>{$info.db_version}</td>
                </tr>
                <tr>
                    <td>系统时区</td>
                    <td>{$info.timezone}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
{include file="../app/view/admin/footer.html" /}

</html>
